@font-face {
    font-family: 'Courier Prime';
    font-display: swap;
    font-weight: 700;
    src: url('../src/fonts/CourierPrime-Bold.ttf') format(truetype);
}

@font-face {
    font-family: 'Courier Prime';
    font-display: swap;
    font-weight: 400;
    src: url('../src/fonts/CourierPrime-Italic.ttf') format(truetype);
}

@font-face {
    font-family: 'Courier Prime';
    font-display: swap;
    font-weight: 700;
    src: url('../src/fonts/CourierPrime-BoldItalic.ttf') format(truetype);
}

@font-face {
    font-family: 'Courier Prime';
    font-display: swap;
    font-weight: 400;
    src: url('../src/fonts/CourierPrime-Regular.ttf') format(truetype);
}
