header.header-default{
    .navbar{
        max-width: 1300px;
        width: 100%;
        @media(max-width: 991px){
            display: flex;
            justify-content: space-around;
        }
    }
    .navbar-toggler{
        @media(max-width: 991px){
            order: 3;
        }
        .toggle-icon{
            span{
                background: #38eb63;
                &::after,
                &::before{
                    background: #38eb63;
                }
            }
        }
    }
    .navbar-brand{
        a{
            img{
                max-width: 150px;
                width: 100%;
            }
        }
    }
    .menu-principal-container{
        .navbar-nav{
            .menu-item.current-menu-item{
                a{
                    color: #2b2b2b;
                    background-color: #38eb63;
                    filter: none;
                    &::after{
                        display: none;
                    }

                }
            }
            .menu-item{
                a{
                    font-family: 'Roboto Mono', serif;
                    font-weight: 400;
                    &:hover{
                        color: #2b2b2b;
                        background-color: #38eb63;
                        filter: none;
                    }
                    &::after{
                        display: none;
                    }
                }
            } 
        }
    }
    .navbar-utils{
        @media(max-width: 991px){
            order: 2;
        }
        .tutor-header-profile-content-text{
            color: #fff;
            font-weight: 700;
        }
        .tutor-header-profile-name{
            font-family: 'Jet Brains Mono';
            color: #38eb63;
            font-weight: 400;
            font-style: normal;

        }
        .tutor-header-submenu{
            .tutor-submenu-login-section-instructor{
                background: #2b2b2b;
                .tutor-submenu-login-profile{
                    color: #38eb63;
                    font-family: 'Jet Brains Mono';
                }
                p{
                    color: #38eb63;
                    font-family: 'Jet Brains Mono';
                }
            }

            .tutor-submenu-links{
                font-family: 'Jet Brains Mono';
                color: #2b2b2b;
                :hover{
                    color: #2b2b2b;
                }
            }
        }
    }
}
