.page{
    // página sobre
    &.page-id-3866{
        .container{
            max-width: 100% !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .entry-content{
            padding-top: 0 !important;
            padding-bottom: 80px !important;
        }
       
        .alternativa-hub{
            padding-top: 5rem;
            padding-bottom: 5rem;
            .wp-block-heading{
                max-width: 320px;
                padding: 0;
            }
            .uma-alternativa{
                max-width: 700px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                .wp-block-heading{
                    max-width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                    padding-bottom: 0 !important;
                }
            }
        }

        .unica,
        .acesse{
            max-width: 700px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &.page-id-3883{
        // página atividades 
        .container{
            max-width: 100% !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .entry-content{
            padding-top: 0 !important;
            padding-bottom: 80px !important;
        }
        .wp-block-qubely-row{
            .qubely-block-heading{
                .qubely-heading-selector{
                    background-color: #38eb63;
                    max-width: 240px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }  
        }
        .wp-block-qubely-postgrid{
            .qubely-postgrid{
                max-width: 25%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .wp-block-group{
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
        }
    }

}
