.page{

    &.plg-peepso {

        --COLOR--PRIMARY: #38eb63;
        --PS-COLOR--PRIMARY--SHADE: #9CF5B1;
        --PS-COLOR--PRIMARY--LIGHT: #6AF08A;
        --PS-COLOR--INFO--DARK: #208538;
        --PS-COLOR--INFO: #38eb63;
        --PS-COLOR--INFO--LIGHT: #6AF08A;
        --PS-COLOR--INFO--ULTRALIGHT: #9CF5B1;

        .site-content > .container {
            max-width: 1140px;
            width: 100%;
        }

        .ps-member,
        .ps-navbar,
        .ps-members__header,
        .ps-form__field,
        .ps-input--select,
        .ps-landing,
        .ps-js-activity,
        .ps-js-groups-search-mode,
        .ps-groups__tab,
        .ps-groups__tab--active,
        .ps-group {
            border-radius: 0;
            box-shadow: none;
            border: 1px solid #000;
        }

        .mb-20{
            margin-bottom: 23px;
        }

        .ps-group__name,
        .ps-group__desc,
        .ps-group__details-item,
        .ps-group__details-item--more,
        .ps-group__action{
            color: #000;

        }

        .ps-group__action{
            font-weight: 700;
            text-decoration: underline !important;
        }

        .ps-btn--login{
            width: 100%;
            justify-content: center;
        }

        .ps-landing__cover{
            border-radius: 0;
        }

        .ps-js-groups-viewmode{
            border: none !important;
            color: #000 !important;
            background-color: transparent !important;
        }

        .ps-group__privacy{
            .ps-tip{
                background-color: #38eb63 !important;
                border-radius: 4px !important;
                color: #000 !important;
            }
        }
        
        .ps-navbar{ 
            .ps-navbar__menu{
                .ps-navbar__menu-item--home{
                    border-right: none;
                }
    
                .ps-navbar__menu-item {
                    .ps-navbar__menu-link{
                        color: #000 !important;
                    }
                }
            }
            .ps-navbar__notifications{
                .ps-navbar__menu-item, .ps-dropdown{
                    a{
                        color: #000 !important;
                    }
                }
            }
        }
        .ps-members__header{
            .ps-members__search{
                border-right: none;
            }
        }

        .ps-members{
            .ps-member__header{
               .ps-member__cover{
                    border-radius: 0 !important;
               }
            }
            .ps-friends__mutual, 
            .ps-member__action{
                color: #000 !important;
            }
        }

        .ps-photos__list--photos{
            border-radius: 0 !important;
        }
        
        .ps-btn--action {
            --bg--hover: #38eb63;
            transition: all .3s ease-in-out;
            color: #000 !important;
            font-weight: 700 !important;
            font-size: 14px !important;
            border-radius: 4px !important;
        }
    
        .psf-login__links{
            a{
                color: #000;
                text-decoration: underline !important;
            }
        }
    
        .site-content {
            > .container {
                max-width: 1140px;
            }
        }
    
        .ps-post__title {
            align-items: center;
            display: flex;
            gap: .4rem;
    
            .ps-post__author,
            .ps-post__subtitle {
                line-height: 1;
            }
        }
    
        .ps-post__call-to-action{
            span{
                a{
                    color: #000 !important;
                    text-decoration: underline !important;
                }
            }
        }
        .ps-alert,
        #ps-no-more-posts{
            background-color:#38eb63 !important;
            border: none !important;
            color: #000 !important;
            border-radius: 4px !important;
        }
    }
    
    //home
    &.page-id-4457{
        .container{
            max-width: 100% !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .entry-content{
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
        
    
        .wp-block-qubely-row.topo{
            .wp-block-qubely-heading{
                padding: 1rem;
                background-color: #2b2b2b;
            }
            .qubely-column-inner{
                :nth-child(1){
                    max-width: 189px;
                    width: 100%;
                    font-family: 'Jet Brains Mono';
    
                }
                :nth-child(2){
                    max-width: 405px;
                    width: 100%;
                    font-family: 'Jet Brains Mono';
                }
                :nth-child(3){
                    max-width: 446px;
                    width: 100%;
                    font-family: 'Jet Brains Mono';
                }
            } 
        }
        .alternativa-hub{
            padding-top: 8rem;
            padding-bottom: 8rem;
            @media(max-width: 782px){
                padding-top: 4rem;
                padding-bottom: 4rem;
            }
            .wp-block-heading{
                max-width: 320px;
                padding: 0;
            }
            .wp-block-qubely-row.colunas-alternativahub{
                padding-bottom: 2rem;
                max-width: 1300px;
                width: 100%;
                .qubely-container{
                    margin: 0;
                    max-width: 1300px;
                    width: 100%;
                    .qubely-row {
                        .wp-block-qubely-column{
                            .qubely-column-inner{
                                .wp-block-qubely-text{
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .wp-block-button__link{
                padding: 10px 2rem 9px 2rem;
                font-weight: 700;
                border: 1px solid;
            }
        }
        .cursos{
            .wp-block-qubely-text{
                .qubely-block-text-title{
                    background-color: #000;
                    color: #fff;
                    max-width: 390px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .cursos-tema{
            .wp-block-qubely-column{
                .wp-block-columns{
                    .wp-block-column{
                        .wp-block-cover{
                            padding-left: 0;
                            padding-right: 0;
                            .wp-block-cover__inner-container{
                                p{
                                    background-color: #2b2b2b;
            
                                    a{
                                        text-decoration: none;
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                    }
                }  
            }
        }
        .professores{
            padding-top: 5rem;
            padding-bottom: 5rem;
            @media(max-width: 782px){
                padding-top: 4rem;
                padding-bottom: 4rem;
            }
            .wp-block-heading:nth-of-type(1){
                max-width: 270px;
                padding: 0;
            }
            .wp-block-separator {
                max-width: 1140px;
                width: 100%;
                margin-bottom: 3rem;
                padding: 0;
            }
            .wp-block-heading:nth-of-type(2){
                max-width: 400px;
                padding: 0;
            }
            .wp-block-qubely-row.parceiros{
                .qubely-container{
                    max-width: 1360px;
                    width: 100%;
                    .qubely-row{
                        .wp-block-qubely-column{
                            .qubely-olumn-inner{
                                .wp-block-qubely-infobox{
                                    .qubely-block-info-box{
                                        text-align: center;
                                        .qubely-info-box-body{
                                            text-align: start;
                                            padding-left: 24px;
                                            @media(max-width: 782px){
                                                padding-left: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }    
                    }
                }
            }            
        }
        .na-midia{
            .wp-block-qubely-text{
                .qubely-block-text-title{
                    background-color: #000;
                    max-width: 500px;
                    margin-left: auto;
                    margin-right: auto;
                    color: #38eb63;
                }
            }
        }
        .depoimentos{
            padding-top: 5rem;
            .wp-block-heading{
                padding: 0;
                max-width: 260px;
            }
            .wp-block-qubely-column{
                padding-right: 32px;
            }
        }
    }
    // página sobre
    &.page-id-3866{
        .container{
            max-width: 100% !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .entry-content{
            padding-top: 0 !important;
            padding-bottom: 80px !important;
        }
        
        .alternativa-hub{
            padding-top: 5rem;
            padding-bottom: 5rem;
            @media(max-width: 782px){
                padding: 10px 15px;
            }
            .wp-block-heading{
                max-width: 320px;
                padding: 0;
            }
            .qubely-container{
                @media(max-width: 782px){
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }
            .wp-block-qubely-column{
                padding-left: 15px !important;
                padding-right: 0 !important;
            }
            .uma-alternativa{
                max-width: 700px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                .wp-block-heading{
                    max-width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                    padding-bottom: 0 !important;
                }
            }
        }

        .unica,
        .acesse{
            max-width: 700px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            @media(max-width: 782px){
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .unica{
            .qubely-container{
                @media(max-width: 782px){
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                }
            }
        }
    }

    // página tipo de formação
    &.page-id-4897{
        .container{
            max-width: 100% !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .entry-content{
            padding-top: 0 !important;
            padding-bottom: 80px !important;
        }
        
        .wp-block-qubely-row{
            .qubely-block-heading{
                .qubely-heading-selector{
                    background-color: #38eb63;
                    max-width: 240px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }  
        }
        .card-lab{
            .wp-block-qubely-postgrid{
                .qubely-postgrid{
                    max-width: 33%;
                    margin-left: auto;
                    margin-right: auto;
                    @media(max-width: 782px){
                        max-width: 100%;
                    }
                }
            }
        }
        
        .wp-block-group{
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
            @media(max-width: 782px){
                padding-left: 15px;
                padding-right: 15px;
            }
            p{
                a{
                    color: #000;
                }
            }
        }
    }
}
