.wp-block-qubely-postgrid{
    .qubely-postgrid-wrapper{
        .qubely-postgrid{
            .qubely-post-grid-wrapper{
                .qubely-post-grid-img{
                    aspect-ratio: 16 / 9;
                    border-radius: 8px 8px 0 0;
                }
                .qubely-post-grid-content{
                    padding: 0 16px 16px; 
                }
                .qubely-post-grid-content{
                    background-color: #ebfdef;
                    border-radius: 8px;
                }
                .qubely-postgrid-btn-wrapper{
                    text-align: center;
                }
                
            }
        }
    }
}
.tutor-grid{
    .tutor-course-card{
        border: none;
        border-radius: 12px
    }
    .tutor-card-image-top{
        border-radius: 12px 12px 0 0;
    }
    .tutor-card-body{
        background-color: #ebfdef;
        border-radius: 0 0 12px 12px;
    }
    .tutor-card-footer{
        background-color: #ebfdef;
        border-radius: 0 0 12px 12px;
        border-top: none;
    }
    .tutor-ratio{
        aspect-ratio: 3 / 2;
    }
    .tutor-course-name{
        font-weight: 700;
        a{
            :hover{
                color: #2b2b2b !important;
            }
        }
    }
    .list-item-button,
    .tutor-course-booking-availability,
    .tutor-course-list-btn{
        background-color: #2b2b2b;
        border-radius: 10px;
        :hover{
            color: #fff;
            background-color: #2b2b2b;
            border-radius: 10px;

        }
       a{
        color: #fff;
        border: none;
        padding: 16px 30px;
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 400;
        :hover{
            color: #fff;
            background-color: #2b2b2b;
        }
       }
    }
}
.tutor-pagination{
    .tutor-pagination-numbers{
        .page-numbers.next{
            background: #2b2b2b !important;
            border-radius: 4px;
            color: #fff; 
        }
    }
}
.tutor-course-filter-container{
    .tutor-course-filter-form{
        .tutor-widget-course-filter{
            .tutor-widget-content{
                .tutor-btn-outline-primary {
                    border-color: #2b2b2b;
                    background-color: #2b2b2b;
                    color: #fff;
                    padding: 8px;
                    text-transform: uppercase;
                    text-decoration: underline;
                    font-weight: 400;
                    font-size: 14px;
                    border-radius: 10px;
                    :hover{
                        border-color: #2b2b2b;
                        background-color: #2b2b2b;
                        color: #fff;
                        font-weight: 400;
                    }
                    .tutor-icon-times{
                        color: #fff;
                    }
                }
            }
        }
    }
}
