.woocommerce-page{
    .woocommerce-info{
        a{
            color: #000 !important;
        }
    }
    .wc-block-cart{
        max-width: 1270px;
        width: 100%;
        @media(max-width: 992px){
            padding: 0 15px;
        }
    }
    .wc-block-cart-item__product{
        .wc-block-cart-item__wrap{
            .wc-block-components-product-name{
                color: #000;
                font-weight: 700;
            }
        }
    }
    .wc-block-cart-item__image{
        img{
            border-radius: 8px;
        }
    }
    .wc-block-cart__sidebar{
        .wp-block-woocommerce-proceed-to-checkout-block{
            .wc-block-cart__submit-container{
                .wc-block-components-button{
                    border-color: #2b2b2b;
                    background-color: #2b2b2b;
                    color: #fff;
                    font-weight: 400;
                    border-radius: 10px;
                    text-transform: uppercase;
                    font-size: 14px;
                   
                    text-decoration: underline;
                }
            }
        }
    }
    .woocommerce{
        max-width: 1270px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .wp-block-woocommerce-checkout-actions-block{
        .wc-block-checkout__actions_row{
            .wc-block-components-checkout-place-order-button{
                border-color: #38eb63;
                background-color: #38eb63;
                color: #000;
                font-weight: 700;
                border-radius: 4px;
            }
        }
    }
    .shop_table{
        tfoot{
            .order-total{
                th{
                    width: 40%;
                }
                .woocommerce-Price-amount.amount{
                    font-size: 20px !important;
                }
            }
        }
    }
    .woocommerce-checkout-payment{
        .methods{
            .payment_method_virt_pagseguro{
                .payment_method_virt_pagseguro{
                    background-color: #fff !important;
                } 
            }
        }
    }
    .woocommerce-privacy-policy-text{
        p{
            a{
                color: #000 !important;
            }
        }
    }
    #place_order{
        border-color: #38eb63 !important;
        background: #38eb63 !important;
        color: #000 !important;
        font-weight: 700 !important;
        border-radius: 4px !important;
        :hover,
        :focus{
            border-color: #38eb63 !important;
            background: #38eb63 !important;
            color: #000 !important;
        }
    }
   
}

.single-product{
    .woocommerce-product-gallery__wrapper{
        a{
            img{
                border-radius: 12px;
            }
        }
    }
    .entry-summary{
        .product_title{
            color: #2b2b2b;
            font-weight: 400;

        }
    }
    form.cart{
        button{
            background-color: #2b2b2b !important;
            border-radius: 10px !important;
            padding: 16px 46px !important;
            font-size: 14px !important;
            text-transform: uppercase !important;
            text-decoration: underline !important;
            
        }
        
    }
    .entry-content, .related.products{
        h2{
            color: #2b2b2b;
            font-weight: 400;
            font-size: 36px;
        }
    }
    .product{
        h2{
            color: #2b2b2b !important;
           font-weight: 400 !important;
           
        }
        .button{
            background-color: #2b2b2b !important;
            border-radius: 10px !important;
            padding: 12px 46px !important;
            font-size: 14px !important;
            text-transform: uppercase !important;
            text-decoration: underline !important;
            font-weight: 400 !important;
        }
        
    }
    .related.products{
        li.product{
            background: #EBFDEF;
        }
    }
}

.woocommerce button.button{
    font-weight: 400 !important;
}
.woocommerce button.button:hover {
    background-color: #2b2b2b !important;
    color: #fff;
}

.woocommerce-error{
    li{
        a{
            background-color: #2b2b2b !important;
            border-radius: 10px !important;
            padding: 8px 46px !important;
            font-size: 12px !important;
            text-transform: uppercase !important;
            text-decoration: underline !important;
            font-weight: 400 !important;
            :hover{
                background-color: #2b2b2b !important;
            }
        }
    }
}