.woocommerce-page{
    .woocommerce-info{
        a{
            color: #000 !important;
        }
    }
    .wc-block-cart{
        max-width: 1270px;
        width: 100%;
        @media(max-width: 992px){
            padding: 0 15px;
        }
    }
    .wc-block-cart-item__product{
        .wc-block-cart-item__wrap{
            .wc-block-components-product-name{
                color: #000;
                font-weight: 700;
            }
        }
    }
    .wc-block-cart__sidebar{
        .wp-block-woocommerce-proceed-to-checkout-block{
            .wc-block-cart__submit-container{
                .wc-block-components-button{
                    border-color: #38eb63;
                    background-color: #38eb63;
                    color: #000;
                    font-weight: 700;
                    border-radius: 4px;
                }
            }
        }
    }
    .woocommerce{
        max-width: 1270px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .wp-block-woocommerce-checkout-actions-block{
        .wc-block-checkout__actions_row{
            .wc-block-components-checkout-place-order-button{
                border-color: #38eb63;
                background-color: #38eb63;
                color: #000;
                font-weight: 700;
                border-radius: 4px;
            }
        }
    }
    .shop_table{
        tfoot{
            .order-total{
                th{
                    width: 40%;
                }
                .woocommerce-Price-amount.amount{
                    font-size: 20px !important;
                }
            }
        }
    }
    .woocommerce-checkout-payment{
        .methods{
            .payment_method_virt_pagseguro{
                .payment_method_virt_pagseguro{
                    background-color: #fff !important;
                } 
            }
        }
    }
    .woocommerce-privacy-policy-text{
        p{
            a{
                color: #000 !important;
            }
        }
    }
    .checkout-button{
        border-color: #38eb63 !important;
        background: #38eb63 !important;
        color: #000 !important;
        font-weight: 700 !important;
        border-radius: 4px !important;
        &:hover,
        &:focus{
            border-color: #38eb63 !important;
            background: #38eb63 !important;
            color: #000 !important;
        }
    }
}
